@import "variables.css";

body {
    display: flex;
    flex-direction: column;

}

header {
    padding: 0.8rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-header);
}

header p {
    font-size: 1.5rem;
    margin: 0 1rem;
}

header a {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

header button {
    margin: auto;
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
}

main {
    width: 80%;
    margin: 2rem auto;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.todo-form input,
.todo-form textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-light-grey);
    background: var(--bg-light-grey);
    color: white;
}

.todo-form textarea {
    min-height: 6.5rem;
}

.todo-form button {
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.todos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.todo-item {
    margin: 1em;
    background: var(--bg-light-grey);
    padding: 1em;
    border-radius: 0.5rem;
    border-left: 4px solid var(--blue);
}

.todo-item h3 {
    margin-top: 0;
}

.todo-item p {
    margin-bottom: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    height: 12.5rem;
    overflow-y: auto;
    padding: 0.5rem;
}
.todo-item p::-webkit-scrollbar {
    width: 0.5rem;
}

.todo-item p::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 0.5rem;
}

.todo-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.todo-actions button {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.delete-btn {
    background: var(--error-red);
    color: white;
    border: none;
}
.change-btn {
    background: var(--blue);
    color: white;
    border: none;
}

.add-todo-btn {
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.add-todo-btn:hover {
    background: #3a5bd9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: var(--bg-grey);
    margin: 10% auto;
    padding: 1.5rem;
    border: 1px solid var(--border-light-grey);
    width: 80%;
    max-width: 32rem;
    border-radius: 0.5rem;
    position: relative;
}

.close {
    color: #aaa;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}
.close-edit {
    color: #aaa;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.close-edit:hover {
    color: white;
}

.change-btn {
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.change-btn:hover {
    background: #3a5bd9;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-light-grey);
    background: var(--bg-light-grey);
    color: white;
}

.submit-btn{
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
}


.submit-btn:hover {
    background: #3a5bd9;
}